 <style>
    div.ridge {border-style: ridge;
                 margin-right: 20px;
           
    }

     button.marg {
                    
                    margin-bottom: 35px;
                    margin-right: 20px;
                    
                   }
     div.marg {
                    
                    margin-right: 20px;
                    margin-left: 20px;
                    }

     input.marg {
         width: 100%;
         margin-bottom: 10px;
     }

     h2.marg {
                    margin-top: 35px; 
                    margin-right: 20px;
                    margin-left: 20px;
                    }

 </style>

<div class="ridge" data-ng-contoller="MainCtrl">
    <h2 class="marg"> צרו קשר  052-3558758 </h2>
    
    <br/>
    <br/>
    
    <div class="marg">
       <label> שם </label>
        <br/>
        <input type="text" data-ng-model="form.name" class="marg"/>
        <br/> 
    </div>
    
    <div class="marg">
       <label> טלפון </label>
        <br/>
        <input type="text" data-ng-model="form.phone"  class="marg"/>
        <br/> 
    </div>

    <div class="marg">
       <label> דואר אלקטרוני </label>
        <br/>
        <input type="text" data-ng-model="form.email"  class="marg"/>
        <br/> 
    </div>
    
    <div class="marg">
       <label> תוכן ההודעה </label>
        <br/>
        <textarea rows="6" data-ng-model="form.content" style="width: 100%" class="marg"/>
        <br/> 
    </div>
    
    <br/>
     
    <button class="marg" data-ng-click="send()">שלח</button>
    <br/>

</div>